body {
  background-color: #404040;
  font-family: 'Montserrat', sans-serif;
}

.main-wrapper {
  background-color: white;
  color: #404040;
  margin: 0 auto;
  width: 80%;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 2fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;

}

header {
  width: 80%;
  font-size: 25px;
  font-weight: bold;
  margin: 3rem auto 0 auto;
  background-color: crimson;
  color: white;
  padding: 2rem;
  text-align: center;
}

.card {
  /*box-shadow: 0 0 14px -6px rgba(0, 0, 0, 0.42);*/
  padding: 1rem;
  margin: 10px;
}

.title {
  color: crimson;
  font-size: 20px;
  font-weight: bold;
  margin: 1rem 0;
}
.detail-button{
  padding: 1rem 4rem;
  background-color: #404040;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  outline: none;
}
.detail-button:hover{
  background-color: crimson;
}
.recommendation-box{
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 1rem 0;
  padding: 1rem;
}
.recommendation-box span{
  color: crimson;
  font-weight: bold;
  margin-right: 5px;
}

.submit-button{
  padding: 1rem 3rem;
  background-color: crimson;
  color: white;
  cursor: pointer;
  outline:none;
  border-radius: 20px;
  border: none;
}
.comment-field{
  padding: 1rem;
  margin: 1rem 0;
  color: #404040;
  border: 1px solid #ccc;
  width: 80%;
  border-radius: 20px;
  outline:none;
}
#rating{
  padding: 1rem;
  background-color: white;
  color: #404040;
  border: 1px solid #ccc;
  outline:none;
  width: 40%;
  border-radius: 20px;
}